<!-- Additional head bits without overriding original head -->
<meta name="description" content="{{ site.meta_description }}" />
<meta name="keywords" content="pixelmatic, game dev, dev, development, dev ops" />

<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ site.meta_description }}" />
<meta property="og:image" content="https://pixelmatic.github.io/favicon.png" />
<meta property="og:url" content="https://pixelmatic.github.io" />
<meta property="og:site_name" content="{{ site.title }}" />

<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ site.meta_description }}">
<meta name="twitter:image" content="https://pixelmatic.github.io/favicon.png">
<meta name="twitter:site" content="@Pixelmatic">
<meta name="twitter:creator" content="@Pixelmatic">